<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--Header contiene la cabecera de nuestrapagina-->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/turing">Alan Turing</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/berners-Lee">Tim Berners-Lee</a>
                    <a href="/babbage">Charles Babbage</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--ma-in contendra toda la parte estructural de nuestra pagina-->
    <main>
        <section><!--cada seccion debe tener su titulo-->
            <h1>Charles Babbage</h1>
           <p>Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.</p>
                    
            </article>
        </section><!--Estructura semantica para tenr un mejor seo-->
        <section>

        </section>
        <section>

        </section>
        <aside>
            <img src="/img/Charles-Babbage/BAB2.jpg" alt="Imagen de Charles Babbage " width="200px">
            <img src="/img/Charles-Babbage/Charles-Babbage.jpg" alt="Imagen de Charles Babbage   " width="270px">
            <img src="/img/Charles-Babbage/CharlesBabbage.jpg" alt="Imagen de Charles Babbage   "width="400px">
            <img src="/img/Charles-Babbage/images.jpg" alt="Imagen de Charles Babbage  "width="375px" >
        </aside>
        <a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">Charles Babbage - wikipedia</a>

    </main>
    <!-- fotter es el pie de pagina , es el final de la pagina-->
    <footer>
        <section>
            <h3>Redes</h3>
            <ul>
                <li>
                   
                </li>
            </ul>
        </section>
        <section>
            <h3>Menus</h3>
            <ul>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </section>
    </footer>
</body>
</html>