<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--Header contiene la cabecera de nuestrapagina-->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/turing">Alan Turing</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/berners-Lee">Tim Berners-Lee</a>
                    <a href="/babbage">Charles Babbage</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--ma-in contendra toda la parte estructural de nuestra pagina-->
    <main>
        <section><!--cada seccion debe tener su titulo-->
            <h1>Grace Hopper</h1>
            <article>
              
                    
            </article>
        </section><!--Estructura semantica para tenr un mejor seo-->
        <section>

        </section>
        <section>

        </section>
        <aside>
            <img src="/img/Grace-Hopper/Grace-hopper.jpg" alt="Imagen Grace Hopper " width="200px">
            <img src="/img/Grace-Hopper/Grace_Hopper2.jpg" alt="Imagen Grace Hopper " width="270px">
            <img src="/img/Grace-Hopper/Grace-hopper3.jpg" alt="Imagen Grace Hopper "width="400px">
            <img src="/img/Grace-Hopper/Grace-hopper4.jpg" alt="Imagen Grace Hopper "width="375px" >
        </aside>
        <a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper" target="_blank">Grace Hopper - wikipedia</a>

    </main>
    <!-- fotter es el pie de pagina , es el final de la pagina-->
    <footer>
        <section>
            <h3>Redes</h3>
            <ul>
                <li>
                   
                </li>
            </ul>
        </section>
        <section>
            <h3>Menus</h3>
            <ul>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </section>
    </footer>
</body>
</html>