<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <!--Header contiene la cabecera de nuestrapagina-->
     <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/turing">Alan Turing</a>
                </li>
                    <li>
                        <a href="/lovelace">Ada Lovelace</a>
                    </li>
                    <li>
                        <a href="/hopper">Grace Hopper</a>
                    </li>
                    <li>
                        <a href="/hamilton">Margaret Hamilton</a>
                    </li>
                    <li>
                        <a href="/hamilton">Joan Clarke</a>
                    </li>
                    <li>
                        <a href="/berners-lee">Tim Berners-Lee</a>
                    </li>
                    <li>
                        <a href="/babbage">Charles Babbage</a>
                    </li>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenidos al Trabajo Practico DH Heroes</h1>
</body>
</html>